.HotelBooking {
  margin-top: 0px;
}

.HotelBooking .lander h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  padding-left: 15px;
  margin-left: auto;
  margin-top: 10px;
}

.HotelBooking .lander p {
  color: #999;
}

.HotelBooking .page-header {
  margin-top: 0px;
  padding-top: 20px;
}

.form {
  background-color: white;
  min-height: 100vh; /* will cover the 100% of viewport */
  overflow: hidden;
  display: block;
  position: relative;
}
