svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.error {
  color: red;
  padding-left: 10px;
  padding-top: 5px;
}
.h1 {
  padding-left: 10px;
}
.hotelForm {
  padding-left: 10px;
  padding-right: 10px;
}
.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker__input-container {
  display: block !important;
}
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
.autocomplete-places-dropdown-container {
  border-bottom: honeydew;
  border-left: honeydew;
  border-right: honeydew;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  border-radius: 0 0 5px 5px;
}
.suggestion-item {
  padding: 8px;
  text-align: left;
  background-color: #3399ff;
  cursor: pointer;
}
.suggestion-item--active {
  padding: 8px;
  text-align: left;
  background-color: #fafafa;
  cursor: pointer;
}
