svg {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.error {
  color: red;
  padding-left: 10px;
  padding-top: 5px;
}
.h1 {
  padding-left: 10px;
}
.trainForm {
  padding-left: 10px;
  padding-right: 10px;
}
.react-datepicker-wrapper {
  display: block !important;
}
.react-datepicker__input-container {
  display: block !important;
}
.react-datepicker {
  font-size: 1em;
}
.react-datepicker__header {
  padding-top: 0.8em;
}
.react-datepicker__month {
  margin: 0.4em 1em;
}
.react-datepicker__day-name, .react-datepicker__day {
  width: 1.9em;
  line-height: 1.9em;
  margin: 0.166em;
}
.react-datepicker__current-month {
  font-size: 1em;
}
.react-datepicker__navigation {
  top: 1em;
  line-height: 1.7em;
  border: 0.45em solid transparent;
}
.react-datepicker__navigation--previous {
  border-right-color: #ccc;
  left: 1em;
}
.react-datepicker__navigation--next {
  border-left-color: #ccc;
  right: 1em;
}
.react-datepicker__time-list-item {
  width: 50px;
}
.react-datepicker__time-container {
  width: 6em !important
}
.react-datepicker-time__header {
  font-size: 1em !important
}
.react-datepicker-time__header--time {
  padding-left: 0px !important; padding-right: 0px !important
}
.react-datepicker__time-box {
  margin-left: 0px !important;
  margin-right: 0px !important;
  width:100% !important
}
.react-datepicker__time-list {
  padding: 0 !important;
}
