.App {
  background-color: lightgrey;
}

.navbar {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  margin-bottom: 0px;
}

.navbar-brand {
  font-weight: bold;
  font-size: 24px;
}

.navbar-nav {
  font-size: 16px;
}

.navbar-header {
  padding-left: 15px;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
