html,
body {
 height: 100%;
 position: relative;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: lightgrey;
}

footer {
 position: absolute;
 bottom: 0;
 width: 100%;
}
